/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/08/2014, 10:57:08
    Author     : jeferson
*/

#topo{
    left: 50%;
}




/* menu
*/

a{
				text-decoration: none;
			}
			
			body > ul{
				font-family: 'Dosis', sans-serif;
				font-size: 18px;
			}
			
			body > ul > li{
				float: left;
				position: relative;
				margin-left: 5px;
			}
			
			body > ul > li:first-child{
				margin-left: 0;
			}
			
			body > ul > li > a{
				color:#fff;
				padding: 5px 10px;
				background: #999999;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
			
			body > ul > li > ul{
				padding: 4px 7px;
				visibility: hidden;
				position: absolute;
				left: 0;
				top: 23px;
				-webkit-transition: all 0.7s ease;
				-moz-transition: all 0.7s ease;
				-o-transition: all 0.7s ease;
				-moz-opacity: 0.00;
				opacity: 0.00;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
			}
			
			body > ul > li:hover > ul{
				-moz-opacity: 1;
				opacity: 1;
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
				visibility: visible;
				text-align: left;
				background: #999999;
				-webkit-border-radius: 0 0 5px 5px;
				-moz-border-radius: 0 0 5px 5px;
				border-radius: 0 0 5px 5px;
				padding: 4px 7px;
			}
			
			body > ul > li > ul > li{
				display: block;
				font-size: 12px;
				margin-bottom: 5px;
			}
			
			body > ul > li > ul > li > a{
				color: #fff;
			}